<!DOCTYPE html>
<html lang="en-us">

<head id="page_head">
    <title>CIT261 isaacFuentes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
    <script src="../js/script.js"></script>
</head>

<body>
    <header>
        <div class="containerMenu">
            <div class='containerLogo'>
                <img class="headerLogo" src="../images/banerBarber.png" alt="Varon Rojo Logo"
                style='max-width: 250px' />
            </div>
            <nav>
                <div id="menu_button_wrapper">
                    <div id="menu_button">
                        Menu&nbsp;&nbsp;
                        <div id="collapseMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                </div>

                <ul id="menu_list">
                    <li class="menu_page"><a href="../index.html">Home</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="media.html">Media</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                </ul>
            </nav>
        </header>
        <section>
         <h1 id="ser_bund">Services and Buldles</h1>
         <h2 id="list_ser_bund">We have created a list with the best services for our clients.</h2>
         <ul id="list_style">
            <li>Kid Haircurt</li>
            <li>Man Haircut</li>
            <li>Bear and Mustache</li>
        </ul>
    </section>

    <h2 id="list_ser_bund">Try the different themes</h2>

    <div id="change_style">
        <input type="button" value="Small Blue" onclick="smallStyle()" />
        <input type="button" value="Medium Green" onclick="mediumStyle()" />
        <input type="button" value="Large Pink" onclick="largeStyle()" />
        <input type="button" value="Go Crazy" onclick="crazyStyle()" />
    </div>
</body>

</html>